.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
bottom: 0px;

 
}

.left-section img {
  max-width: 100px; /* Ajustez la taille du logo selon vos besoins */
  margin-left: 10px;
}

.right-section {
  font-size: 12px;
  color: #888;
  margin-right: 10px;
  .signUp{
    height: 100%;
  }
}
