

.signupcontainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #FFFF;
  opacity: 0.9;
  margin-bottom: 90px;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none; /* Add a border to the fieldset */
  border-radius: 5px;
  margin-bottom: 20px;
  width: 300px;
  height: 60px;
}

legend {
  font-weight: bold;
  padding: 0 5px;
  background-color: #fff;
  position: relative;
  top: 10px;
  left: 5px;
  font-size: 14px;
 
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  height: 40px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
  height: 50px;
  margin-left: 20px;
}

button:hover {
  background-color: #0056b3;
}



